{% extends 'base.html' %}
{% block content %}
<div class="limiter">
    <div class="container-login100 wrap-login101 fullscreen-div">
        <form class="login100-form-title" id="searchForm">
            <div class="custom-input1">
                <input type="text" id="searchQuery" name="search_query" placeholder="Search by username">
            </div>
        </form>
        <div class="scrollingtable">
            <div>
                <div>
                    <table>
                        <tbody>
                            <div class="login100-form-title p-b-21" id="searchResults"></div>
                            <div id="chatDiv">
                                <button class="chat-button" onclick="handleChatButtonClick('Favorites')">
                                    <div class="limiter">
                                        <div>
                                            <div class="wrap-Chat_Favorite p-t-10 p-b-50">
                                                <div class="container-login100-form-btn block">
                                                    <div class="wrap-favorite p-t-10 p-b-50">
                                                    </div>
                                                    <p class="Text_ChatUsername_fv">favorites</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="message-area-container">
        <div class="tisi">
            <p class="Text_Chat_in_Username">UserName</p>
            <p class="Select_who_you_would_like_to_write_to" id="chatPrompt">Select who you would like to write to</p> <!-- Добавленный элемент для отображения текста -->
        </div>
        <div>
            <div>
                <div>
                    <table>
                        <tbody>
                            <div>
                                <div class="custom-input fixed-block">
                                    <input class="input_s" type="text" id="messageInput" placeholder="Text msg">
                                    <button class="bt" onclick="sendMessage()">Send</button>
                                </div>
                            </div>
                            <div class="message-area" id="messageArea"></div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Контекстное меню для сообщений -->
    <div id="contextMenu" class="context-menu" style="display: none;">
        <button id="copyMessageBtn">Copy Message</button>
        <button id="deleteMessageBtn">Delete Message</button>
    </div>
    
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>
    const searchForm = document.getElementById('searchForm');
    const searchQueryInput = document.getElementById('searchQuery');
    const searchResultsDiv = document.getElementById('searchResults');
    const chatDiv = document.getElementById('chatDiv');
    const msgField = document.querySelector('.tisi p');
    const messageInput = document.getElementById('messageInput');
    const messageArea = document.getElementById('messageArea');

    const contextMenu = document.getElementById('contextMenu');
        const copyMessageBtn = document.getElementById('copyMessageBtn');
        // const deleteMessageBtn = document.getElementById('deleteMessageBtn');
        let selectedMessage = null;
        let messageIdCounter = 0; // Добавлен счетчик для генерации уникальных идентификаторов сообщений

        // Показать контекстное меню
        function showContextMenu(x, y) {
            contextMenu.style.display = 'block';
            contextMenu.style.left = x + 'px';
            contextMenu.style.top = y + 'px';
        }

        // Скрыть контекстное меню
        function hideContextMenu() {
            contextMenu.style.display = 'none';
        }

        // Удалить сообщение
        function deleteMessage() {
            if (selectedMessage) {
                selectedMessage.remove();
                hideContextMenu();
            }
        }

        // Скопировать сообщение
        function copyMessage() {
            if (selectedMessage) {
                const messageText = selectedMessage.querySelector('.text').textContent;
                navigator.clipboard.writeText(messageText);
            }
            hideContextMenu();
        }

        // Обработчик события правой кнопки мыши на сообщении
        function handleContextMenu(event) {
            event.preventDefault();
            selectedMessage = event.target.closest('.message');
            if (selectedMessage) {
                const x = event.clientX;
                const y = event.clientY;
                showContextMenu(x, y);
            }
        }

        // Добавляем обработчики событий для кнопок контекстного меню
        copyMessageBtn.addEventListener('click', copyMessage);
        // deleteMessageBtn.addEventListener('click', deleteMessage);

        // Добавляем обработчик события для контейнера сообщений
        messageArea.addEventListener('contextmenu', handleContextMenu);

        // Скрываем контекстное меню при клике вне его области
        document.addEventListener('click', function(event) {
            if (!contextMenu.contains(event.target)) {
                hideContextMenu();
            }
        });

        // Восстанавливаем удаленные сообщения при загрузке страницы
        window.addEventListener('load', function() {
            const deletedMessages = JSON.parse(localStorage.getItem('deletedMessages')) || [];
            deletedMessages.forEach(messageId => {
                const deletedMessage = document.querySelector(`[data-message-id="${messageId}"]`);
                if (deletedMessage) {
                    deletedMessage.remove();
                }
            });
        });

    const socket = io();

    let currentChatUser = '{{ session.username }}';

    const savedChats = JSON.parse(localStorage.getItem('chats')) || [];
    const savedMessages = JSON.parse(localStorage.getItem('messages')) || {};

    const updateLocalStorage = (key, data) => {
        localStorage.setItem(key, JSON.stringify(data));
    };



    const sendButton = document.querySelector('.bt');

    if (msgField.textContent.includes('UserName')) {
        msgField.textContent = msgField.textContent.replace('UserName', '');
        messageInput.style.display = 'none';
        sendButton.style.display = 'none';
        messageArea.style.display = 'none';
    }


    function createChatElement(username) {
        const chatElement = document.createElement('div');
        chatElement.classList.add('limiter');
        chatElement.innerHTML = `
            <button class="chat-button" onclick="handleChatButtonClick('${username}')">
                <div class="limiter">
                    <div>
                        <div class="wrap-Chat_Favorite p-t-10 p-b-50">
                            <div class="container-login100-form-btn block">
                                <div class="wrap-kolo p-t-10 p-b-50">
                                </div>
                                <p class="Text_ChatUsername">${username}s</p>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        `;
        return chatElement;
    }

    // function createMessageElement(sender, message, time, isSent) {
    //     const messageElement = document.createElement('div');
    //     messageElement.classList.add('message');
    //     const usernameElement = document.createElement('div');
    //     usernameElement.classList.add('Text_msg_Username');
    //     usernameElement.textContent = sender;
    //     const timeElement = document.createElement('div');
    //     timeElement.classList.add('message-time');
    //     timeElement.textContent = time;
    //     const textElement = document.createElement('div');
    //     textElement.classList.add('text');
    //     textElement.textContent = message;
    //     messageElement.appendChild(usernameElement);
    //     messageElement.appendChild(timeElement);
    //     messageElement.appendChild(textElement);

    //     if (isSent) {
    //         messageElement.classList.add('outgoing-message');
    //     } else {
    //         messageElement.classList.add('incoming-message');
    //     }

    //     return messageElement;
    // }
    function createMessageElement(sender, message, time, isSent) {
        const messageElement = document.createElement('div');
        // messageElement.classList.add('message');

        const usernameElement = document.createElement('div');
        usernameElement.classList.add('Text_msg_Username');
        usernameElement.textContent = sender;

        const timeElement = document.createElement('div');
        timeElement.classList.add('message-time');
        timeElement.textContent = time;

        const textElement = document.createElement('div');
        textElement.classList.add('text');
        textElement.textContent = message;

        // messageElement.appendChild(usernameElement);
        messageElement.appendChild(textElement);
        messageElement.appendChild(timeElement);

        // Добавляем класс для исходящих и входящих сообщений
        if (isSent) {
            messageElement.classList.add('message_out', 'outgoing-message'); // Добавляем класс message_out для исходящих сообщений
        } else {
            messageElement.classList.add('message', 'incoming-message');
        }

        return messageElement;
    }


    function logout() {
        localStorage.clear();
        window.location.href = "/logout";
    }

    searchForm.addEventListener('input', function(event) {
        const searchQuery = searchQueryInput.value;
        if (searchQuery.trim() === '') {
            searchResultsDiv.innerHTML = '';
            chatDiv.style.display = 'block';
            return;
        }

        chatDiv.style.display = 'none';

        fetch('/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'search_query': searchQuery
            }),
        })
        .then(response => response.json())
        .then(data => {
            searchResultsDiv.innerHTML = '';
            if (data.users) {
                data.users.forEach(user => {
                    if (!savedChats.includes(user.username)) {
                        const button = document.createElement('button');
                        button.textContent = user.username;
                        button.addEventListener('click', function() {
                            msgField.textContent = `${user.username}`;
                            currentChatUser = user.username;

                            const chatElement = document.createElement('div');
                            chatElement.classList.add('limiter');
                            chatElement.innerHTML = `
                                <button class="chat-button" onclick="handleChatButtonClick('${user.username}')">
                                    <div class="limiter">
                                        <div>
                                            <div class="wrap-Chat_Favorite p-t-10 p-b-50">
                                                <div class="container-login100-form-btn block">
                                                    <div class="wrap-kolo p-t-10 p-b-50">
                                                    </div>
                                                    <p class="Text_ChatUsername">${user.username}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            `;
                            chatDiv.appendChild(chatElement);

                            savedChats.push(user.username);
                            updateLocalStorage('chats', savedChats);
                        });
                        searchResultsDiv.appendChild(button);
                    }
                });
            } else {
                searchResultsDiv.innerHTML = '<p>No results found.</p>';
            }
        })
        .catch(error => console.error('Error:', error));
    });

    document.addEventListener('DOMContentLoaded', function() {
        savedChats.forEach(username => {
            const chatElement = document.createElement('div');
            chatElement.classList.add('limiter');
            chatElement.innerHTML = `
                <button class="chat-button" onclick="handleChatButtonClick('${username}')">
                    <div class="limiter">
                        <div>
                            <div class="wrap-Chat_Favorite p-t-10 p-b-50">
                                <div class="container-login100-form-btn block">
                                    <div class="wrap-kolo p-t-10 p-b-50">
                                    </div>
                                    <p class="Text_ChatUsername">${username}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </button>
            `;
            chatDiv.appendChild(chatElement);
        });

        const currentChatMessages = savedMessages[currentChatUser] || [];
        currentChatMessages.forEach(msg => {
            const messageElement = createMessageElement(msg.sender, msg.message, msg.time, msg.isSent);
            messageArea.appendChild(messageElement);
        });
    });

    function handleChatButtonClick(username) {
        msgField.textContent = `${username}`;
        currentChatUser = username;

        // Показать
        messageInput.style.display = 'block';
        sendButton.style.display = 'block';
        messageArea.style.display = 'block';
        document.getElementById('chatPrompt').style.display = 'none';


        messageArea.innerHTML = '';

        const currentChatMessages = savedMessages[currentChatUser] || [];
        currentChatMessages.forEach(msg => {
            const messageElement = createMessageElement(msg.sender, msg.message, msg.time, msg.isSent);
            messageArea.appendChild(messageElement);
        });
    }



    socket.on('receiveMessage', function(data) {
        const sender = data.sender;
        const receiver = data.receiver;
        const message = data.message;

        if (receiver === '{{ session.username }}') {
            const messageElement = createMessageElement(sender, message, new Date().toLocaleTimeString(), false);

            messageArea.appendChild(messageElement);
            messageArea.scrollTop = messageArea.scrollHeight;

            savedMessages[sender] = savedMessages[sender] || [];
            savedMessages[sender].push({ sender: sender, message: message, time: new Date().toLocaleTimeString(), isSent: false });

            updateLocalStorage('messages', savedMessages);
        }
    });

    function sendMessage() {
        const message = messageInput.value.trim();
        if (message === '') return;

        const currentTime = new Date().toLocaleTimeString(); // Получаем текущее время

        const messageElement = createMessageElement('{{ session.username }}', message, currentTime, true);
        messageArea.appendChild(messageElement);

        savedMessages[currentChatUser] = savedMessages[currentChatUser] || [];
        savedMessages[currentChatUser].push({ sender: '{{ session.username }}', message: message, time: currentTime, isSent: true });

        updateLocalStorage('messages', savedMessages);

        messageArea.scrollTop = messageArea.scrollHeight;

        socket.emit('sendMessage', {'sender': '{{ session.username }}', 'receiver': currentChatUser, 'message': message});

        messageInput.value = '';
    }

</script>
{% endblock %}